{% extends 'base.html' %}

{% block title %}
SuperNova | about
{% endblock %}



{% block content %}
<div class="container">
    <div class="jumbotron  p-5 border-radi my-5 ">
        <h1 class="display-3">SuperNova</h1>
        <p class="lead">We are here to care your health  <br></p>
        <hr class="my-4">
        <p class="text-dark">Hospital, an institution that is built, staffed, and equipped for the diagnosis of disease; for the treatment, both medical and surgical, of the sick and the injured; and for their housing during this process. The modern hospital also often serves as a centre for investigation and for teaching.</p>
        
        <p class="lead">
          <a class="btn  barbackground btn-lg" href="{% url 'doctors' %}" role="button">Specialized doctors</a><br><br>
          
        </p>
        <div >
        <div class="card" style="width: 15rem; display:inline-block">
            <img class="card-img-top" src="https://img.freepik.com/free-vector/doctor-character-background_1270-84.jpg?t=st=1657884000~exp=1657884600~hmac=74f09352a269d0fa291b5b54216cffc6014a2b2ac739c20abf64bc177bea1163&w=740" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Talanted Doctors</h5>
              <p class="card-text">A physician, medical practitioner, medical doctor, or simply doctor, is a health professionals.</p>
                                   
              {% comment %} <a href="#" class="btn btn-primary">Go somewhere</a> {% endcomment %}
            </div>
          </div>
          <div class="card" style="width: 15rem;display:inline-block">
            <img class="card-img-top" src="https://img.freepik.com/free-vector/cartoon-nurse-taking-care-patient_23-2148156986.jpg?t=st=1657884106~exp=1657884706~hmac=5ebe2d3d92af5517be1213ddce3e36a8a1647cc98f67b43cf223c11aee1558eb&w=740" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Old Age Care</h5>
              <p class="card-text">Elderly care, or simply eldercare serves the needs and requirements of senior citizens in needed.</p>
              {% comment %} <a href="#" class="btn btn-primary">Go somewhere</a> {% endcomment %}
            </div>
          </div>
          <div class="card" style="width: 15rem; display:inline-block">
            <img class="card-img-top" src="https://img.freepik.com/free-vector/elderly-people-get-covid19-vaccine-protected-from-virus_40876-2461.jpg?t=st=1657884000~exp=1657884600~hmac=95a51a24079c0401debe34a3ae20bdd77a389443fc3f102f06f48ba4d60bbd71&w=740" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Corona Treatment</h5>
              <p class="card-text">Most people who fall sick with COVID-19 will experience mild to moderate symptoms and recover.</p>
              {% comment %} <a href="#" class="btn btn-primary">Go somewhere</a> {% endcomment %}
            </div>
          </div>
          
          <div class="card" style="width: 15rem;display:inline-block">
            <img class="card-img-top" src="https://img.freepik.com/free-vector/isometric-medical-diagnostic-equipment-set-3d-illustration-computer-tomography-ct_33099-163.jpg?t=st=1657884000~exp=1657884600~hmac=f1780a9ffeb361bedbd76f8aa3d9182c8ab5411a5e2a3b0415831662fcbc8289&w=740" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Modern equipment</h5>
              <p class="card-text">All this has become possible thanks to the dynamic development of medical technology.</p>
              {% comment %} <a href="#" class="btn btn-primary">Go somewhere</a> {% endcomment %}
            </div>
          </div>
          
        </div>
      </div>
      
</div>
{% endblock %}


