{% extends 'base.html' %}
{% block title %}
SuperNova | Login
{% endblock %}

{% block content %}      

{% load crispy_forms_tags %}


{% load static %}

<!--Login--> 
<div class="container py-5 col-md-6 " style="margin-left:35%;">
  <h4 class="text-white">User Login</h4><br>

  {% for message in messages %}
    
    <div class="alert alert-success" style="width:400px">
        <a class="close" href="#" data-dismiss="alert">×</a>
           {{ message }}
    </div>

{% endfor %}


  <div class="bg-info p-5" style="width:410px; border-radius: 40px;">
  <form method="POST" style="width:300px; ">
    {% csrf_token %}
    {{ login_form|crispy }}
    <br>
    <button class="btn btn-primary" type="submit">Login</button>
  </form><br><br>
  <p class="">Don't have an account? <br><a href="/register">Create an account</a>.</p>
</div></div>

{% endblock %}


